.container_register {
  display: inline;
  height: 80vh;
}

.container-login {
  position: relative;
  width: 100%;
  background-color: rgb(159, 169, 178);
  min-height: 96vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form .sign-up-form {
  opacity: 0;
  z-index: 1;
}

form .sign-in-form {
  z-index: -2;
}

.title-reg {
  font-size: 2.4rem;
  color: #444;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f4eeee;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field .regis-icon {
  text-align: center;
  line-height: 10px;
  transition: 0.5s;
  font-size: 1.1rem;
}
.input-field input {
  background: none;
  cursor: pointer;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  color: grey;
  font-weight: 600;
  border: 3px rgb(221, 214, 171) solid;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  width: 103%;
}

.regis-icon {
  margin-top: 13px;
  margin-left: 10px;
  color: orange;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
  cursor: pointer;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.submit-btn {
  width: 140px;
  height: 60px;
  overflow: hidden;
  text-shadow: 1px 1px 2px grey !important;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: rgb(26, 8, 8);
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  overflow: hidden;
  background: linear-gradient(to right, #414123, #314187 50%, #9bca85 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.submit-btn:hover {
  background-position: 0 100%;
  text-decoration: none;
  border: none;
  color: lightgray;
}
.submit-btn:active {
  color: orange;
  font-weight: 600;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-login:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);

  background: linear-gradient(
    90deg,
    rgb(32, 73, 108) 44%,
    rgb(96, 61, 110) 100%
  );
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.gradient {
  width: 100%;

  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 16;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
  color: rgb(223, 213, 213);
}

.panel .content {
  color: rgb(179, 179, 206);
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 24px;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid white;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container-login.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container-login.sign-up-mode .left-panel .image,
.container-login.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container-login.sign-up-mode .signin-signup {
  left: 25%;
}

.container-login.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container-login.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container-login.sign-up-mode .right-panel .image,
.container-login.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container-login.sign-up-mode .left-panel {
  pointer-events: none;
}

.container-login.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container-login {
    min-height: 800px;
    height: 80vh;
    padding: 0;
    z-index: 5;
  }
  .signin-signup {
    width: 100%;
    top: 70%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
    padding: 0;
  }

  .signin-signup,
  .container-login.sign-up-mode .signin-signup {
    left: 50%;
    margin: 0;
    padding: 0;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1px 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 10%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 18px;
  }

  .panel p {
    font-size: 16px;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container-login:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 60%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container-login.sign-up-mode:before {
    transform: translate(-50%, 100%);
    top: 25%;
    right: initial;
  }

  .container-login.sign-up-mode .left-panel .image,
  .container-login.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container-login.sign-up-mode .right-panel .image,
  .container-login.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container-login.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container-login {
    padding: 1.5rem;
  }

  .container-login:before {
    bottom: 72%;
    left: 50%;
  }

  .container-login.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
